body {
  background-color: ghostwhite;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
  margin-bottom: 30%;
}

.Mariangel-Molina {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-weight: bolder;
  font-size: 350%;
}

.Desarrolladora-Web {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-weight: bolder;
  font-size: 100%;
}

@media (min-width: 200px) and (max-width: 500px) {
  .Mariangel-Molina {
    font-size: 200%;
  }
  .Desarrolladora-Web {
    font-size: 70%;
  }
}
@media (min-width: 501px) and (max-width: 850px) {
  .Mariangel-Molina {
    font-size: 280%;
  }
  .Desarrolladora-Web {
    font-size: 90%;
  }
}
.sobremi {
  margin-bottom: 30%;
}

.sobre-mi {
  font-family: "Courier New", Courier, monospace;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  margin-left: 5%;
  margin: 5%;
  font-weight: bolder;
  font-size: 300%;
}

.flex {
  display: flex;
  flex-direction: row;
}

.ft-mia {
  margin-left: 10%;
}

.parrafo {
  color: black;
  font-size: 100%;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  margin-right: 5%;
  margin-left: 10%;
}

@media (min-width: 200px) and (max-width: 500px) {
  .sobre-mi {
    font-size: 150%;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  .ft-mia {
    margin-left: 20%;
    margin-bottom: 3%;
    width: 60%;
  }
  .parrafo {
    color: black;
    font-size: 80%;
  }
}
@media (min-width: 501px) and (max-width: 850px) {
  .sobre-mi {
    font-size: 200%;
  }
  .flex {
    display: flex;
    flex-direction: column;
  }
  .ft-mia {
    margin-left: 20%;
    margin-bottom: 3%;
    width: 60%;
  }
  .parrafo {
    color: black;
    font-size: 90%;
  }
}
.parrafo-proyectos {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 300%;
  font-weight: bolder;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 6%;
}

.flex-card {
  display: flex;
  flex-direction: row;
}

.card1 {
  margin-left: 5%;
  margin-right: 5%;
}

.card2 {
  margin-right: 5%;
}

@media (min-width: 200px) and (max-width: 500px) {
  .parrafo-proyectos {
    font-size: 150%;
  }
  .flex-card {
    display: flex;
    flex-direction: column;
  }
  .card1 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
  }
  .card2 {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media (min-width: 501px) and (max-width: 850px) {
  .parrafo-proyectos {
    font-size: 200%;
  }
  .flex-card {
    display: flex;
    flex-direction: column;
  }
  .card1 {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 3%;
  }
  .card2 {
    margin-left: 5%;
    margin-right: 5%;
  }
}
.contacto1 {
  margin-top: 30%;
}

.flex-logo {
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

.whatsapp {
  margin-left: 30%;
}

footer {
  display: inline;
  text-align: center;
}

.bajo2 {
  color: gray;
  font-size: 50%;
}

/*# sourceMappingURL=style.css.map */
