body {
    background-color: ghostwhite;
}


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 30%;
}

.Mariangel-Molina {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bolder;
    font-size: 350%;
}

.Desarrolladora-Web {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-weight: bolder;
    font-size: 100%;
}

