.parrafo-proyectos{
    border-top: 1px solid black ;
    border-bottom: 1px solid black;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    font-weight: bolder;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
}

.flex-card {
    display: flex;
    flex-direction: row;
}

.card1 {
    margin-left: 5%;
    margin-right: 5%;
}

.card2 {
    margin-right: 5%;
}
