.sobremi {
    margin-bottom: 30%;
}

.sobre-mi {
    font-family: 'Courier New', Courier, monospace;
    border-top: 1px solid black ;
    border-bottom: 1px solid black;
    color: black;
    margin-left: 5%;
    margin: 5%;
    font-weight: bolder;
    font-size: 300%;
}


.flex {
    display: flex;
    flex-direction: row;
}

.ft-mia {
    margin-left: 10%;
}

.parrafo {
    color: black;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin-right: 5%;
    margin-left: 10%;
}